{% extends 'blog/basic.html' %}

{% block title %} Blog {% endblock %}

{% block css %} {% endblock %}

{% block body %}
<div class="container mt-3">
  <h2>Search Results in Blogs:</h2>
  <div class="row my-3">
    {% for i in allBlogs %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">{{i.genre}}</strong>
          <h3 class="mb-0">{{i.title}}</h3>
          <div class="mb-2 text-muted">{{i.pub_date}}</div>
          <p class="card-text mb-auto">{{i.chead0|slice:"0:100"}}...</p>
          <a href="/blog/blogpost/{{i.post_id}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/media/{{i.thumbnail}}" width="250" height="280" alt="Blog's Thumbnail">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block js%}
<script>
    {% if msg|length != 0 %}
    alert('{{msg}}');
    window.location.href = '/blog';
    {% endif %}
</script>
{% endblock %}