{% extends 'shop/basic.html' %}

{% block title %}Order Tracker{% endblock %}
{% block css %}
<style>
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="col my-4">
        <h2>My Cart Tracker - Track your orders</h2>
        <h4>Enter your email and order id</h4>
        <form class="row g-3 my-2" action="#" id="trackForm" method="POST"> {% csrf_token %}
            <div class="col-md-6">
                <label for="orderId" class="form-label">Order ID</label>
                <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Enter your Order ID">
            </div>
            <div class="col-md-6">
                <label for="Email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Track Order</button>
            </div>
        </form>

    </div>
    <div class="col my-4" id="citems">
        <h2>Your Order Status</h2>
        <div class="my-3">
            <ul class="list-group" id="items" data-bs-html='true'>
                Enter your email and order id correctly.
            </ul>
        </div>
        <h2>Your Order Details</h2>
        <div class="my-3">
            <ul class="list-group" id="details" data-bs-html='true'>

            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block js%}
<script type="text/javascript">
    document.getElementById('home').setAttribute('class', 'nav-link');
    document.getElementById('tracker').setAttribute('class', 'nav-link active');
    $('#trackForm').submit(function (event) {
        $('#items').empty();
        $('#details').empty();
        var formData = {
            'orderId': $('input#orderId').val(),
            'email': $('input#email').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        };
        $.ajax({
            type: 'POST',
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })
            .done(function (data) {
                $('#items').empty();
                $('#details').empty();
                console.log(data)
                // fill order updates
                data = JSON.parse(data);
                if (data['status'] == 'success') {
                    updates = data['updates'];
                    for (i = 0; i < updates.length; i++) {
                        let text = updates[i]['text'];
                        let time = updates[i]['time'];
                        mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            ${text}
                        </div>
                        <span class="badge bg-primary rounded-pill">${time}</span>
                        </li>`
                        $('#items').append(mystr);
                    }
                    // fill order details
                    cart = JSON.parse(data['itemsJSON']);
                    console.log(cart);
                    for (item in cart) {
                        let name = cart[item][1];
                        let qty = cart[item][0];
                        mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            ${name}
                        </div>
                        <span class="badge bg-primary rounded-pill">${qty}</span>
                        </li>`
                        $('#details').append(mystr);
                    }
                } else {
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            Sorry, enter your email and order id correctly.
                        </div>
                        </li>`
                    $('#items').append(mystr);
                    $('#details').append(mystr);
                }
            });
        event.preventDefault();
    });
</script>

{% endblock %}